<% content_for :title, "Signature" %>
<% content_for :description, "Page d'acceuil Signature - Wedding planner - Amandine Descamps" %>

<!------ Introduction ------>

    <div id="introduction" class="section">
        <div id="child" class="section-text">
            <h1>Votre mariage, une signature unique à votre image.</h1>
                Un mariage, c’est bien plus qu’une simple organisation. 
                C’est l’occasion de raconter votre histoire, de réunir vos proches autour de vos valeurs et de vivre une journée qui vous ressemble pleinement. 
                
                Mon rôle ? Être à vos côtés pour donner vie à cette vision, avec créativité, soin et bienveillance.
        </div>
        <%= image_tag("photo2.png", class: "section-image img-section-hori") %>
    </div>
    

<!------ Mes services ------>

    <div id="propose" class="section">
        <h2>Ce que je vous propose ?</h2>

        <div class="section-text cards">
            <%# <li><b>Un mariage qui vous ressemble</b>: Chaque détail compte pour raconter votre histoire. Ensemble, nous imaginons une journée à votre image, où chaque moment a du sens. %>
            <div class="card">
                <div class="card-title">Un mariage qui vous ressemble</div>
                <div class="card-content">Chaque détail compte pour raconter votre histoire. Ensemble, nous imaginons une journée à votre image, où chaque moment a du sens.</div>
            </div>

            <div class="card middle-card">
                <div class="card-title">Une touche d’élégance et d’authenticité</div>
                <div class="card-content">Passionnée par la décoration et le savoir-faire, j’aime créer des ambiances raffinées</div>
            </div>

            <div class="card">
                <div class="card-title">Des services variés</div>
                <div class="card-content">Je vous accompagne tout au long de l’organisation de votre mariage, ou simplement le jour J, pour faire de cette journée un moment parfait et sans stress.</div>
            </div>

            <%# <li><b>Une touche d’élégance et d’authenticité</b>: Passionnée par la décoration et le savoir-faire, j’aime créer des ambiances raffinées %>
            
        
            <%# <li><b>Des services variés</b>: Je vous accompagne tout au long de l’organisation de votre mariage, ou simplement le jour J, pour faire de cette journée un moment parfait et sans stress. 
            Si vous préférez garder le contrôle tout en ayant un soutien expert, je vous propose également un coaching personnalisé pour vous guider dans vos choix. 
            Et si vous souhaitez une touche unique, je crée une décoration sur-mesure qui sublimera votre célébration.</li> %>
        </div>
        <%= link_to "Mes services", services_path(), class: "button" %>
         <%= image_tag("wedding-greenbee-banner.jpg", class: "section-image") %>
    </div>



<!------ Présentation ------>

    <div id="presentation" class="section">
        <%= image_tag("photo1.png", class: "section-image img-section-hori") %>

        <div class="section-text">
            <h2>Qui suis-je ?</h2>
                <div>Je suis une passionnée des belles histoires, des petits détails qui marquent les esprits et des mariages où chaque moment fait sens. 
                    
                Portée par les rencontres authentiques et les jolies choses bien faites, j’ai choisi de la mettre au service des couples qui rêvent d’une journée unique et élégante.

                Depuis dix ans, l’organisation d’évènements est ma passion et c’est avec ma rigueur et une touche de bonne humeur que je vous accompagne avec bienveillance dans cette belle aventure.</div>
            <%= link_to "En savoir plus", about_path(), class: "button" %>

        </div>

    </div>
