<% content_for :title, "GreenBee" %>
<% content_for :description, "Page d'acceuil GreenBee - Wedding planner - Amandine Descamps" %>

<div class="banner">
    <div class="sticky-cont">
        <%= image_tag "logo_greenBee_test.png", class: "logo" %>
        <h1>Amandine Descamps
             Wedding Planner</h1>
    </div>
</div>

    <div id="parent" class="container">
        <div id="child" class="section">
            Faites de votre mariage la journée dont vous avez toujours rêvé. Passionnée par l'organisation et le soin du détail, je suis dédiée à transformer votre vision en réalité. Que vous souhaitiez un mariage intime ou une grande célébration, je vous accompagne à chaque étape pour créer un événement unique qui vous ressemble. Avec une attention particulière à vos souhaits et un engagement sans faille, je vous offre une expérience sur mesure pour un jour inoubliable.
        </div>

        <div class="sections-photos">
            <%= image_tag("photo1.png") %>
            <%= image_tag("photo2.png") %>
        </div>
    </div>
    <div class="inter-section-banner"></div>
    

    <div class="container">
        <div class="section">
            <b style="text-decoration: underline">Coming Soon</b>
            Plus de détails sur nos services viendront s'ajouter à ce site.En attendant, nous sommes déjà disponibles pour organiser votre mariage. Que vous ayez besoin de conseils avisés, d'un suivi personnalisé, d'une organisation complète ou partielle de votre mariage, ou simplement d'une aide pour la décoration, je suis là pour vous. 
            Mon objectif est de rendre chaque moment de vos préparatifs aussi agréable que possible, tout en veillant à ce que votre jour J soit absolument parfait.
        </div>

        <div class="sections-photos">
            <%= image_tag("photo3.png") %>
            <%= image_tag("photo4.png") %>
        </div>
    </div>

    <div class="container">
        <div class="section">
            Que vous soyez au début de vos préparatifs ou que vous ayez besoin d'une touche finale, je suis à votre disposition pour vous aider à créer le mariage de vos rêves. Contactez-moi sans hésiter pour en discuter et pour commencer cette belle aventure ensemble.
        </div>
    </div>
    <div class="footer">
        <div class="contacts">
            <a href="mailto:Greenbee.byad@gmail.com">Greenbee.byad@gmail.com</a> 
            +32 472 53 58 47
            <a href="https://www.instagram.com/greenbee.be/" target="_blank" ><i class="icons fa-brands fa-instagram"></i> <div>GreenBee </div></a>
        </div>
    </div>
    
